#names-input {
  animation: tilt 6s infinite; /* Infinite tilt animation over 6 seconds */
  animation-delay: 1s;
}

main {
  background-color: #808080
}

button {
  animation: tilt 6s infinite; /* Infinite tilt animation over 6 seconds */
  animation-delay: 2s;
}

#play-button2 {
  animation: spin 1s infinite; /* Infinite tilt animation over 6 seconds */
  animation-delay: 1s;
}

button:hover {
  background-color: #98fb98; /* Slightly lighter green when hovered */
}


/* Keyframes for tilt animation */
@keyframes tilt {
  25% {
    transform: rotate(10deg); /* Rotate 20 degrees clockwise */
  }
  75% {
    transform: rotate(-10deg); /* Rotate 20 degrees counter-clockwise */
  }
}

/* Keyframes for spin animation */
@keyframes spin {
  100% {
    transform: rotate(360deg); 
  }
  0% {
    transform: rotate(0deg); 
  }
}

@keyframes pulseWobble {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.05) rotate(1deg);
  }
  50% {
    transform: scale(0.95) rotate(-1deg);
  }
  75% {
    transform: scale(1.05) rotate(-1deg);
  }
}


