/* Make full-page-container fill the entire screen */
#full-page-container {
  position: absolute; /* Position it absolutely within its relative parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Ensures it's in front of other elements */
  margin: 5em;
}

/* Random placement of names */
h3 {
  position: absolute; /* Absolute positioning within the full-page-container */
  color: black; /* Text color, can be changed as needed */
  font-size: 4em; /* Larger font size for visibility */
  font-family: "Papyrus", fantasy;
  animation: pulseWobble 4s infinite;
}

/* Ensure other parts of the menu don't overlap unexpectedly */
#main-menu {
  position: relative;
  z-index: 2; /* Higher than the full-page-container to keep on top */
}

/* Container for the name input and button */
#names-container {
  position: relative;
  z-index: 3; /* Ensures this is above other content */
}

