
#names-container {
  padding-top: .5em;
  padding-bottom: 1.3em;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

#names-container li {
  flex: 1 0 33.33%; /* Each item takes up 1/3 of the container's width */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black; /* Text color, can be changed as needed */
  font-size: 2em; /* Larger font size for visibility */
  font-family: "Papyrus", fantasy;
  animation: pulseWobble 4s infinite;
}