:root {
  --text-shadow-offset: 0.0125em; /* Shadow offset defined as a variable */
  --label-and-button-font-size: 1.6vw;
  --title-size: 8em;
  --desc-colour-outline: black;

  --text-shadow: 
    1px 1px 0 var(--desc-colour-outline),  
    -1px 1px 0 var(--desc-colour-outline), 
    1px -1px 0 var(--desc-colour-outline),
    -1px -1px 0 var(--desc-colour-outline);
}

main {
  height: 100vh; 
}

/* Main Title of "Skrungle Pro"*/
h2 {
  font-family: 'Arial', sans-serif; /* Example of a different style font */
  font-size: var(--title-size);
  color: lightblue;
  font-weight: bold; /* Makes the text bold */
  text-shadow: var(--text-shadow);
  user-select: none; /* Prevent text selection */
  cursor: default; /* Set cursor to the default type */
  padding-top: .4em;
}


/* Give all children font size of var(--label-and-button-font-size) */
#middle-menu * {
  font-size: var(--label-and-button-font-size);
}

/* Input "Name" field */
#names-input {
  font-family: "Papyrus", fantasy;
  background-color: orange; /* Background color */
  border-radius: 0.625em; /* Rounded corners */
  border: none; /* Remove default border */
  padding: 0.625em; /* Padding inside the input box */
  color: white; /* Font color */
}

/* Label styling */
label {
  font-family: "Papyrus", fantasy;
  background-color: lightsalmon; /* Background color */
  border-radius: 0.625em; /* Rounded corners */
  border: none; /* Remove default border */
  padding: 0.625em; /* Padding inside the input box */
  animation: tilt 6s infinite; /* Infinite tilt animation over 6 seconds */
}

/* Button styling */
button {
  font-family: "Papyrus", fantasy;
  background-color: lightgreen; /* Light green background */
  border: none; /* No border */
  border-radius: 0.625em; /* Rounded corners */
  padding: 0.625em 1.25em; /* Padding around the text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  display: inline-block; /* Necessary for transform animations */
  margin-left: 1em;;
}

.play-button {
  background-color: lightblue; /* Light green background */
  animation-delay: 0.2s;
}

#play-button2 {
  padding-left: 4em;
  padding-right: 4em;
}

#remove-name-button {
  background-color: red;
  animation-delay: 0.1s;
  padding-left: 2em;
  padding-right: 2em;
}

