:root {
    --text-shadow-offset: 0.0125em; /* Shadow offset defined as a variable */
    --label-and-button-font-size: 1m;
    --title-size: 3em;
}

* {
    margin: 0;
    padding: 0;
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#names-controllers-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}

#middle-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}