:root {
  --text-shadow-offset: 0.0160em; /* Shadow offset defined as a variable */
  --desc-colour-outline: black;
  --title-size: 6em;
  --description-size: 8em;

  --text-shadow: 
    1px 1px 0 var(--desc-colour-outline),  
    -1px 1px 0 var(--desc-colour-outline), 
    1px -1px 0 var(--desc-colour-outline),
    -1px -1px 0 var(--desc-colour-outline);
}

#card-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

#card-title {
  font-size: 4vw; /* Adjust this value as needed */

  user-select: none;
  text-align: center;
  text-transform: uppercase; 
  color: white;
  text-shadow: var(--text-shadow);
}

#card-description {
  font-size: 6vw; /* Adjust this value as needed */

  user-select: none;
  text-align: center;
  text-transform: uppercase; 
  color: white;
  text-shadow: var(--text-shadow);
}

